.Logon-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: auto;
    display: flex; /* Mantém tudo que tá dentro dessa classe lado a lado. flex-direction: column, mantém tudo em cima, como colunas*/
    align-items: center;
    justify-content: space-between;
}

.Logon-container section.form {
    width: 100%;
    max-width: 350px;
    margin-right: 30px;
}

.Logon-container section.form form {
    margin-top: 100px;
}

.Logon-container section.form form h1 {
    font-size: 32px;
    margin-bottom: 32px;
}
